PUBLIC_GISCUS_REPO=studystudyhard-go/my-lab
PUBLIC_GISCUS_REPO_ID=R_kgDOxxxxxx
PUBLIC_GISCUS_CATEGORY=General
PUBLIC_GISCUS_CATEGORY_ID=DIC_kwDOxxxxxx
PUBLIC_GISCUS_MAPPING=pathname
PUBLIC_GISCUS_STRICT=0
PUBLIC_GISCUS_REACTIONS_ENABLED=1
PUBLIC_GISCUS_EMIT_METADATA=0
PUBLIC_GISCUS_INPUT_POSITION=top
PUBLIC_GISCUS_LANG=zh-CN
PUBLIC_GISCUS_LOADING=lazy
